RewriteEngine On

# /about -> aboutus.html
RewriteRule ^about/?$ aboutus.html [L]

# /contact -> contact.html
RewriteRule ^contact/?$ contact.html [L]

# /all-products -> allproduccts.html
RewriteRule ^all-products/?$ allproduccts.html [L]

# Remove .html from URLs
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [L]
